<!--<a (click)="onManufacturerSelected()"><div class="card mb-3">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-sm">-->
<!--        <h5 class="card-title">{{ manufacturerName }}</h5>-->
<!--         <img class="card-img-top" src="" alt="Card image cap">-->

<!--      </div>-->
<!--      <div class="col-sm">-->
<!--        <div class="card-body">-->
<!--          <p class="card-text">City: {{ manufacturerCity }}</p>-->
<!--          <p class="card-text">Region: {{ manufacturerRegion }}</p>-->
<!--          <p class="card-text">Zip Code: {{ manufacturerZipCode }}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div></a>-->

<div class="col-md-4 mb-5 col-centered">
    <div class="card h-100" style="width: 350px;">
  <img class="card-img-top" src="http://placehold.it/300x200" alt="">
  <div class="card-body">
    <h4 class="card-title">{{ manufacturerName }}</h4>
    <p class="card-text">City: {{ manufacturerCity }}</p>
    <p class="card-text">City: {{ manufacturerRegion }}</p>
    <p class="card-text">City: {{ manufacturerZipCode }}</p>

  </div>
  <div class="card-footer">
    <a class="btn btn-primary" (click)="onManufacturerSelected()" >Find Out More!</a>
  </div>
</div>
</div>
