<div class="col-md-4 mb-5 col-centered">
  <div class="card h-100">
    <img class="card-img-top" src="http://placehold.it/300x200" alt="">
    <div class="card-body">
      <h4 class="card-title">{{factoryName}}</h4>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque
        sequi doloribus totam ut praesentium aut.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" (click)="onFactorySelected()">Find Out More!</a>
    </div>
  </div>
</div>


